html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(flower.jpeg);
  background-size: 20em;
  font-size: 25px;
  height: 100vh;
  text-align: center;
  top: 339px;
  right: 288px;
}

.hero {
  font-size: 15px;
  height: 100vh;
  display: grid;
  place-content: center;
  padding-right: 530px;
}

.business {
  font-size: 15px;
  height: 100vh;
  display: grid;
  place-content: center;
}

.h3 {
  font-size: 15px;
  background-color: lightpink;
  border: 5px solid white;
}

.lorem {
  top: 1380px;
  left: 428px;
}