<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Zeyada&display=swap')
</style>

html, body {
  height: 100%;
  width: 100%;
}

#wand{
position:absolute;
}

body {
  background-color: #eccbd2;
  border: 3px solid #edcbd2;
  height: 100vh;
  text-align: center;
}

.hero {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  height: 100vh;
  display: grid;
  place-content: center;
  padding-right: 530px;
  background-image: url(flower.jpeg);
  background-size: 13em;
}

.business {
  font-size: 15px;
  height: 100vh;
  display: grid;
  text-align: right;
  background-image: url(flower.jpeg);
  background-size: 22em;
}

.me {
  font-size: 15px;
  height: 100vh;
  display: grid;
  text-align: right;
  background-image: url(flower.jpeg);
  background-size: 22em;
}

.adventure {
  font-size: 15px;
  height: 100vh;
  display: grid;
  text-align: right;
  background-image: url(flower.jpeg);
  background-size: 22em;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  width: 32em;
  text-align: center;
  position: absolute;
  top: 58em;
  left: 10em;
}

h2 {
  position: absolute;
  top: 43em;
  left: 46em;
}

h5 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  width: 738px;
  text-align: center;
  position: absolute;
  top: 100em;
  left: 145px;
}

h4 {
  position: relative;
  right: 80px;
}

h1 {
  position: absolute;
  left: 20em;
  top: 3em;
}

h6 {
  position: absolute;
  left: 85em;
  top: 250em;
}

h7 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  width: 38em;
  text-align: center;
  position: absolute;
  left: 5em;
  top: 145em;
}

a:visited {
  color: #d33164;
}